{% extends "master.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid px-4">
    <div class="card mt-4">
        <div class="card-header">
            <h4>Cadastrar farmácia</h4>
        </div>
        <div class="card-body" style="overflow-x:auto;">
            <form method="post">
                {% csrf_token %}
                <div class="col-md-8">
                    {{form | crispy}}
                </div>
                <button type="submit" class="btn btn-dark">Salvar</button>
                <a type="button" class="btn btn-danger" href="{%url 'farmacia-list' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}